
#container, #container a{
	padding:20px;
	font-size:20px;
	text-align:left;
	background-color:AliceBlue;
}

#err{
	background-color:red;
	color:white;
}

.btn div{
	font-size:20px;
}

.td {
	padding: 6px;
}
.th {
	padding: 6px;
}

.dialog_table{
	border-collapse: separate;
	font-size:20px;
	border-spacing:6px;
	margin: 6px auto;
	width:100%;
}
.user_row {
	background-color: Bisque;
}
.robot_row {
	background-color: Beige;
}

.robot_obj_panel {
	background-color:Beige;
	width: 347px;
	height: 347px;
}
.robot_obj_panel_highlight {
	background-color:RoyalBlue;
	width: 347px;
	height: 347px;
}

.va {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.obj_img {
	width: 300px;
	height: 300px;
	vertical-align: middle;
}
.person_img {
	width: 40px;
	height: 40px;
	vertical-align: middle;
}
.map_img {
	width: 668px;
	height: 500px;
	vertical-align: middle;
}
.patient_panel {
	background-color:RoyalBlue;
	width: 347px;
	height: 347px;
	text-align: center;
}
.patient_text {
	color:Blue;
}
.recipient_panel {
	background-color:Tomato;
	width: 347px;
	height: 347px;
	text-align: center;
}
.recipient_text {
	color:DarkRed;
}
.source_panel {
	background-color:PaleVioletRed;
	width: 694px;
	height: 525px;
	text-align: center;
}
.source_text {
	color:Purple;
}
.goal_panel {
	background-color:LightGreen;
	width: 694px;
	height: 525px;
	text-align: center;
}
.goal_text {
	color:SeaGreen;
}
