
#container, #container a{
	padding:20px;
	font-size:20px;
	text-align:left;
	background-color:Lavender;
}

.table{
	border-spacing:0;
	border-collapse: collapse;
	margin: 0px auto;
}
.td, .tr{
	border: none;
}
.table>tbody>tr>td{
  border-top: 0px;
}

.btn div{
	font-size:20px;
}

.slider{
	width: 700px !important;
}