
#container, #container a{
	padding:20px;
	font-size:20px;
	text-align:left;
	background-color:Lavender;
}

#err{
	background-color:red;
	color:white;
}

#err{
	background-color:red;
	color:white;
}

.table{
	border-spacing:0;
	border-collapse: collapse;
	margin: 0px auto;
}
.td, .tr{
	border: none;
}
.table>tbody>tr>td{
  border-top: 0px;
}

.btn div{
	font-size:20px;
}

.panel_img {
	width: 200px;
	height: 200px;
}
.patient_panel {
	background-color:Aquamarine;
}
.recipient_panel {
	background-color:Lightsalmon;
}
.source_panel {
	background-color:Beige;
}
.goal_panel {
	background-color:Cornsilk;
}